@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  font-family: "Roboto";
}

div {
  display: block;
}

body {
  font-family: "Roboto";
  width: 100%;
  margin: auto;
}

section {
  display: block;
}

title {
  font-family: "Roboto";
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  overflow: hidden;
  /* les dépassements seront masqués */
  font-family: "Roboto";
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
  /* les dépassements seront masqués */
  font-family: "Roboto";
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: 900;
  overflow: hidden;
  /* les dépassements seront masqués */
  font-family: "Roboto";
}

h4 {
  display: block;
  font-weight: bold;
  overflow: hidden;
  /* les dépassements seront masqués */
  font-family: "Roboto";
}

h4 {
  display: block;
  overflow: hidden;
  /* les dépassements seront masqués */
  font-family: "Roboto";
}

p {
  display: block;
  overflow: hidden;
  /* les dépassements seront masqués */
  font-family: "Roboto";
}

a {
  background-color: transparent;
  font-family: "Roboto";
}

article {
  display: block;
}

.fond-gris {
  background: #ececec;
}

/* Loarder */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  /*hsla exprime une couleur selon ses composantes de teinte, de saturation et de luminosité. Un composant facultatif représente la transparence de la couleur.*/
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}

.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}

.loader__item--1 {
  background-color: #9356dc;
}

.loader__item--2 {
  background-color: #ff79da;
  animation-delay: 0.25s;
  /*durée d'attente avant de démarrer l'animation*/
}

.loader__item--3 {
  background-color: #99e2d0;
  animation-delay: 0.5s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
  /*La fonction translateY() permet de déplacer un élement verticalement sur le plan*/
}
/* Boutons */
.omf-btn {
  position: relative;
  display: block;
  text-decoration: none;
  width: 220px;
  height: 50px;
  margin: 30px auto;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 2px 4px #636363cc;
  z-index: 1;
}
.omf-btn:hover {
  background: linear-gradient(#9356DC, #ae80e5);
  transition: opacity 250ms;
}

.omf-btn__title {
  text-align: center;
  padding-top: 15px;
  color: white;
  font-weight: bold;
}

/*Icones*/
.fas .fa {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.fa, .fas, .far, .fal, .fad, .fab {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/*Etat normal coeur*/
.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.fas .fa {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* Coeurs effets */
/* Div des icons coeurs des pages menus */
.coeur-menu {
  position: absolute;
  right: 50px;
  bottom: 245px;
  margin-bottom: 0px;
  z-index: 50;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.coeur-menu:hover {
  color: #ff79da;
}

.icon-like {
  /* je sais pas pourquoi cette class fonctionne sur menu */
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin-bottom: 10px;
  z-index: 50;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.icon-like--full {
  opacity: 0;
}

.icon-like--full:hover {
  opacity: 1;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
}

/* Div des icons coeurs page d'acceuil */
.coeur-acceuil {
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin-bottom: 10px;
  z-index: 50;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.coeur-acceuil:hover {
  color: #ff79da;
}

.icon-like-acceuil--full {
  opacity: 0;
}

.icon-like-acceuil--full:hover {
  opacity: 1;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
}

/* Header */
.location {
  background: #d3d3d3;
}

.location__link {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.location__text {
  margin: 0 25px;
}

.bloc-accroche__title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 40px 50px 20px 50px;
}

.bloc-accroche__text {
  font-weight: normal;
  font-size: 1.1rem;
  text-align: center;
  margin: 0 20px;
}

/* Bloc Restaurants */
.bloc-title {
  font-weight: 900;
  font-size: 1.5rem;
  padding: 50px 0 10px 20px;
  margin: 0;
}

.bloc-restaurant {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 990px) {
  .bloc-restaurant {
    flex-direction: row;
    justify-content: space-between;
  }
}
.rest-prev {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.rest-prev__link {
  text-decoration: none;
  color: black;
}

.rest-prev__card {
  overflow: hidden;
  height: 70%;
}

.rest-prev--cardpicture {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rest-prev__new {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}

.rest-prev__title {
  margin: 15px 0px 5px 15px;
  font-weight: bold;
  font-size: 1rem;
}

.rest-prev__place {
  margin: 0px 0px 0px 15px;
  font-weight: normal;
  font-size: 1rem;
}

.rest-prev__newtext {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: #278870;
  padding: 8px;
}

/* Bloc Fonctionnement */
.bloc-fonctionnement {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 990px) {
  .bloc-fonctionnement {
    flex-direction: row;
    justify-content: space-between;
  }
}
.onglet-fonct {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #ececec;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.onglet-fonct:hover {
  background: #99E2D0;
}

@media screen and (min-width: 990px) {
  .onglet-fonct {
    width: 100%;
  }
}
.onglet-fonct__ball {
  position: relative;
  margin-left: -10px;
  height: 27px;
  width: 27px;
  background: #9356DC;
  border-radius: 20px;
}

.onglet-fonct__text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 27px;
  margin: 0;
}

.onglet-fonct__numb {
  margin: 4px 0 0 9px;
  font-weight: bold;
  color: white;
}

.onglet-fonct .fas {
  width: 15px;
  height: 15px;
  color: #636363cc;
  margin-left: 20px;
}
.onglet-fonct .fas:hover {
  color: #FF79DA;
  transition: opacity 250ms;
}

/* Header */
.header-omf {
  position: sticky;
  top: 0;
  background: white;
  height: 65px;
  box-shadow: 0 2px 4px #636363cc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header-omf__logo {
  width: 190px;
}

.under-header {
  background: #ececec;
  padding-bottom: 30px;
}

/* Footer */
.footer-omf {
  background: rgba(23, 23, 23, 0.8);
  height: 200px;
}

.footer-omf__bloc {
  margin: 0px 20px;
}

.footer-omf__title {
  color: white;
  font-family: "Shrikhand";
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 20px 0px 18px 0px;
}

.footer-omf__bloctext {
  margin: 8px 0;
}

.footer-omf__bloclink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

/* Paramètres des page menus */
.header-omf__arrow {
  text-decoration: none;
  color: #636363cc;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 50%;
}

.underheader-omf {
  overflow: hidden;
  height: 320px;
}

.underheader-omf__picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.fond-gris-menu {
  position: relative;
  background-color: #ececec;
  border-radius: 45px 45px 0px 0px;
  margin-top: -50px;
  padding-bottom: 10px;
}

.page-restaurant {
  margin: 0px 20px;
}

.page-restaurant__title {
  font-size: 1.75rem;
  margin: 0;
  padding-top: 20px;
}

.page-menu__title {
  margin-bottom: 15px;
}

.page-menu__text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0px 8px 0px;
  overflow: hidden;
  /* les dépassements seront masqués */
}

.page-menu__line {
  background-color: #99E2D0;
  margin: 0;
  height: 3px;
  width: 40px;
}

.page-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* les dépassements seront masqués */
}

@media screen and (min-width: 990px) {
  .page-menu {
    display: flex;
    flex-direction: row;
  }
}
.page-menu__plat {
  margin: 15px 0px 5px 15px;
  font-weight: bold;
  margin-top: 25px;
  overflow: hidden;
}

.page-menu__accetprix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 85%;
  transform-origin: left 50%;
  transition-duration: 0.5s;
}

.page-menu__accompagnement {
  /*margin: 0px 0px 0px 15px;*/
  font-weight: normal;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.page-menu__prix {
  margin: 0;
  font-weight: bold;
  width: 50px;
}

/*Animation plat check*/
.page-menu__check {
  background-color: #99E2D0;
  width: 35%;
  height: 90px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -100px;
  z-index: 0;
  opacity: 0;
  cursor: pointer;
}

.fa-check-circle {
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  cursor: pointer;
}

.page-menu__bloc {
  margin: 0 15px 15px 0;
  background: white;
  height: 90px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
  display: flex;
  align-items: baseline;
}
.page-menu__bloc:hover .page-menu__check {
  transition-duration: 2s;
  z-index: 1;
  opacity: 1;
  margin-right: 0px;
}
.page-menu__bloc:hover .fa-check-circle {
  transform: rotate(360deg);
  transition-duration: 1s;
  opacity: 1;
}
.page-menu__bloc:hover .page-menu__prix {
  margin-right: 5px;
  transition-duration: 2s;
}

/*Responsive*/
@media only screen and (max-width: 576px) {
  .page-menu__check {
    width: 20%;
    margin-right: -40px;
  }

  .page-menu__text {
    font-size: 2rem;
  }

  .page-restaurant__title {
    font-size: 2rem;
  }

  h3 {
    font-size: 2em;
  }

  .page-menu__accompagnement {
    font-size: 2rem;
  }

  .omf-btn__title {
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }

  .footer-omf__title {
    font-size: 1.8rem;
  }

  .footer-omf__bloclink {
    font-size: 1.3rem;
  }

  .page-menu__prix {
    font-size: 2rem;
  }

  .coeur-menu .icon-like .fa-heart {
    margin-right: 0;
    margin-bottom: 0px;
    margin-top: 800px;
  }

  .page-menu__bloc {
    margin: 0 15px 15px 0;
    background: white;
    height: 110px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 7px #d3d3d3;
  }
  .page-menu__bloc:hover .page-menu__check {
    transition-duration: 2s;
    z-index: 1;
    opacity: 1;
    margin-right: 0px;
    height: 110px;
  }
}
@media only screen and (max-width: 768px) {
  .page-menu__check {
    width: 15%;
    margin-right: -40px;
  }

  .page-menu__text {
    font-size: 2rem;
  }

  .page-restaurant__title {
    font-size: 2rem;
  }

  h3 {
    font-size: 2em;
  }

  .page-menu__accompagnement {
    font-size: 2rem;
  }

  .omf-btn__title {
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }

  .footer-omf__title {
    font-size: 1.8rem;
  }

  .footer-omf__bloclink {
    font-size: 1.3rem;
  }

  .page-menu__prix {
    font-size: 2rem;
  }

  .coeur-menu .icon-like .fa-heart {
    display: flex 1;
    justify-content: flex-end;
    margin-right: 0;
    margin-bottom: 0px;
  }

  .page-menu__bloc {
    margin: 0 15px 15px 0;
    background: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 7px #d3d3d3;
    height: 110px;
  }
  .page-menu__bloc:hover .page-menu__check {
    transition-duration: 2s;
    z-index: 1;
    opacity: 1;
    margin-right: 0px;
    height: 110px;
  }
}
@media only screen and (min-width: 740px) and (max-width: 989px) {
  .page-menu__check {
    width: 10%;
    margin-right: -50px;
  }

  .page-menu__text {
    font-size: 2rem;
  }

  .page-restaurant__title {
    font-size: 2rem;
  }

  h3 {
    font-size: 2em;
  }

  .page-menu__accompagnement {
    font-size: 2rem;
  }

  .omf-btn__title {
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }

  .footer-omf__title {
    font-size: 1.8rem;
  }

  .footer-omf__bloclink {
    font-size: 1.3rem;
  }

  .page-menu__prix {
    font-size: 2rem;
  }

  .coeur-menu .icon-like .fa-heart {
    margin-right: 0;
    margin-bottom: 0px;
    margin-top: 800px;
  }

  .page-menu__bloc {
    margin: 0 15px 15px 0;
    background: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 7px #d3d3d3;
    height: 110px;
  }
  .page-menu__bloc:hover .page-menu__check {
    transition-duration: 2s;
    z-index: 1;
    opacity: 1;
    margin-right: 0px;
    height: 110px;
  }
}
/*Responsive coeur

@media only screen and (min-width: 290px) and (max-width: 989px) 
{
    .coeur-menu .icon-like .fa-heart
    {
    position: relative;
    margin-right: 0;
    margin-bottom: 0px;
    margin-top: 800px;
    }
}
*/
/* arrivée des coeurs */
.coeur-menu .icon-like .icon-like--full .icon-like--empty {
  animation-name: coeur;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Effets chargement de la page*/
.loading-menu-1 {
  animation-name: boum;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.loading-menu-2 {
  animation-name: boum;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

.loading-menu-3 {
  animation-name: boum;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes boum {
  0% {
    opacity: 0;
    transform: scaleY(0);
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    margin-top: 0;
  }
}

/*# sourceMappingURL=Style.css.map */
