@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  font-family: "Roboto";
}

div {
  display: block;
}

body {
  font-family: "Roboto";
  width: 100%;
  margin: auto;
}

section {
  display: block;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  display: block;
  font-weight: bold;
}

p {
  display: block;
}

a {
  background-color: transparent;
}

article {
  display: block;
}

.fond-gris {
  background: #ececec;
}

/* Loarder */
.loadScreen {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeout;
  animation-duration: 5s;
}

.spinnerBig {
  position: absolute;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  border: 3rem solid rgba(161, 160, 160, 0);
  border-top: 3rem solid #9356dc;
  border-left: 3rem solid #9356dc;
  border-bottom: 3rem solid #9356dc;
  animation-name: fadeout;
  animation-duration: 5s;
}

.spinner {
  border: 2rem solid rgba(161, 160, 160, 0);
  border-top: 2rem solid #ff79da;
  border-right: 2rem solid #ff79da;
  border-bottom: 2rem solid #ff79da;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  animation-name: fadeout;
  position: absolute;
  animation-duration: 5s;
}

.spinnerSmall {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1.5rem solid rgba(161, 160, 160, 0);
  border-top: 1.5rem solid #99e2d0;
  border-left: 1.5rem solid #99e2d0;
  border-bottom: 1.5rem solid #99e2d0;
  animation-name: fadeout;
  animation-duration: 5s;
}

@keyframes fadeout {
  from {
    animation-iteration-count: 1;
    animation-name: fadeout;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Boutons */
.omf-btn {
  position: relative;
  display: block;
  text-decoration: none;
  width: 220px;
  height: 50px;
  margin: 30px auto;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 2px 4px #636363cc;
  z-index: 1;
}
.omf-btn:hover {
  background: linear-gradient(#9356DC, #ae80e5);
  transition: opacity 250ms;
}

.omf-btn__title {
  text-align: center;
  padding-top: 15px;
  color: white;
  font-weight: bold;
}

/*Icones*/
.fas .fa {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.fa, .fas, .far, .fal, .fad, .fab {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/*Etat normal coeur*/
.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.fas .fa {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/*Lors du survol coeur*/
.icons-like {
  /* <div> - container for icons "Like" */
  position: absolute;
  right: 20px;
  bottom: 0px;
  margin-bottom: 30px;
  z-index: 50;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.icons-like:hover .icon-like--full {
  transform: scale(1);
}

.icon-like {
  /* icon "Like" contained in <div icons-like> */
  position: absolute;
  z-index: 50;
  bottom: 0.3rem;
  right: 0.3rem;
}

.icon-like--full {
  /* icon "Like" with background gradient contained in <div icons-like> */
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 400ms cubic-bezier(0.32, -0.01, 0.22, 0.82);
}

.icon-like--empty:hover {
  color: #9356DC;
}

/* Header */
.location {
  background: #d3d3d3;
}

.location__link {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.location__text {
  margin: 0 25px;
}

.bloc-accroche__title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 40px 50px 20px 50px;
}

.bloc-accroche__text {
  font-weight: normal;
  font-size: 1.1rem;
  text-align: center;
  margin: 0 20px;
}

/* Bloc Fonctionnement */
.bloc-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 50px 0 10px 20px;
  margin: 0;
}

.bloc-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 50px 0 10px 20px;
  margin: 0;
}

.bloc-fonctionnement {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 580px) {
  .bloc-fonctionnement {
    flex-direction: row;
    justify-content: space-between;
  }
}
.onglet-fonct {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #ececec;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.onglet-fonct .fas {
  width: 15px;
  height: 15px;
  color: #636363cc;
  margin-left: 20px;
}

/* Bloc Restaurants */
.bloc-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 50px 0 10px 20px;
  margin: 0;
}

.bloc-restaurant {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 580px) {
  .bloc-restaurant {
    flex-direction: row;
    justify-content: space-between;
  }
}
.rest-prev {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.rest-prev__link {
  text-decoration: none;
  color: black;
}

.rest-prev__card {
  overflow: hidden;
  height: 70%;
}

.rest-prev--cardpicture {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rest-prev__new {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}

.rest-prev__title {
  margin: 15px 0px 5px 15px;
  font-weight: bold;
  font-size: 1rem;
}

.rest-prev__place {
  margin: 0px 0px 0px 15px;
  font-weight: normal;
  font-size: 1rem;
}

.rest-prev__newtext {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: #278870;
  padding: 8px;
}

/* Fonctionnalités */
@media screen and (min-width: 580px) {
  .onglet-fonct {
    width: 100%;
  }
}
.onglet-fonct__ball {
  position: relative;
  margin-left: -10px;
  height: 27px;
  width: 27px;
  background: #9356DC;
  border-radius: 20px;
}

.onglet-fonct__text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 27px;
  margin: 0;
}

.onglet-fonct {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #ececec;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.onglet-fonct__numb {
  margin: 4px 0 0 9px;
  font-weight: bold;
  color: white;
}

/* Header */
.header-omf {
  position: sticky;
  top: 0;
  background: white;
  height: 65px;
  box-shadow: 0 2px 4px #636363cc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header-omf__logo {
  width: 190px;
}

.under-header {
  background: #ececec;
  padding-bottom: 30px;
}

/* Footer */
.footer-omf {
  background: rgba(23, 23, 23, 0.8);
  height: 200px;
}

.footer-omf__bloc {
  margin: 0px 20px;
}

.footer-omf__title {
  color: white;
  font-family: "Shrikhand";
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 20px 0px 18px 0px;
}

.footer-omf__bloctext {
  margin: 8px 0;
}

.footer-omf__bloclink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

/* Paramètres des page menus */
.header-omf__arrow {
  text-decoration: none;
  color: #636363cc;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 50%;
}

.underheader-omf {
  overflow: hidden;
  height: 320px;
}

.underheader-omf__picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.fond-gris-menu {
  position: relative;
  background-color: #ececec;
  border-radius: 45px 45px 0px 0px;
  margin-top: -50px;
  padding-bottom: 10px;
}

.page-restaurant {
  margin: 0px 20px;
}

.page-restaurant__title {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  margin: 0;
  padding-top: 20px;
}

.page-menu__title {
  margin-bottom: 15px;
}

.page-menu__text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0px 8px 0px;
}

.page-menu__line {
  background-color: #99E2D0;
  margin: 0;
  height: 3px;
  width: 40px;
}

.page-menu {
  display: flex;
  flex-direction: column;
}

/*Animation entréé chargement*/
@media screen and (min-width: 580px) {
  .page-menu {
    display: flex;
    flex-direction: row;
  }
}
.page-menu__bloc {
  margin: 0 15px 15px 0;
  background: white;
  height: 70px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
  /* position: relative;*/
}

.page-menu__plat {
  margin: 15px 0px 5px 15px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: -55px;
}

.page-menu__accetprix {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  transform-origin: left 50%;
  transition-duration: 0.5s;
}

.page-menu__accompagnement {
  margin: 0px 0px 0px 15px;
  font-weight: normal;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-menu__prix {
  margin: 0;
  font-weight: bold;
  padding-left: 10px;
  width: 50px;
}

/*Animation plat check*/
.page-menu__check {
  position: relative;
  background-color: #99E2D0;
  width: 65px;
  height: 70px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 260px;
  z-index: 0;
  opacity: 0;
  cursor: pointer;
}
.page-menu__check:hover {
  transform-origin: left 50%;
  transform: translateX(65px);
  transition-duration: 2s;
  z-index: 1;
  opacity: 1;
}

.fa-check-circle {
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  cursor: pointer;
}
.fa-check-circle:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
  opacity: 1;
}

/*# sourceMappingURL=Style.css.map */
