@charset "utf-8";

* 
{
    box-sizing: border-box;
    font-family: "Roboto";
}
body
{
    font-family: "Roboto";
}
div 
{
    display: block;
}

body 
{
    font-family: "Roboto";
    width: 100%;
    margin: auto;
}

section {
    display: block;
}

h1 
{
    display: block;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden; /* les dépassements seront masqués */
}

h2 
{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden; /* les dépassements seront masqués */
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    overflow: hidden; /* les dépassements seront masqués */
}

h4 
{
    display: block;
    font-weight: bold;
    overflow: hidden; /* les dépassements seront masqués */
}


p {
    display: block;
    overflow: hidden; /* les dépassements seront masqués */
}

a 
{
    background-color: transparent;
}

article 
{
    display: block;
}

.fond-gris 
{
    background: #ececec;
}



