@charset "utf-8";

* 
{
    box-sizing: border-box;
    font-family: "Roboto";
}
body
{
    font-family: "Roboto";
}
div 
{
    display: block;
}

body 
{
    font-family: "Roboto";
    width: 100%;
    margin: auto;
}

section {
    display: block;
}

title{
    font-family: "Roboto";
    text-overflow : ellipsis;
    
}

h1 
{
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-overflow : ellipsis;
    font-family: "Roboto";
}

h2 
{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-overflow : ellipsis;
    font-family: "Roboto"
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: 900;
    text-overflow : ellipsis;
    font-family: "Roboto"
}

h4 
{
    display: block;
    font-weight: bold;
    text-overflow : ellipsis;
    font-family: "Roboto"
}

h4
{
    display: block;
    text-overflow : ellipsis;
    font-family: "Roboto"
}


p {
    display: block;
    text-overflow : ellipsis;
    font-family: "Roboto"
}

a 
{
    background-color: transparent;  
    font-family: "Roboto";
    text-overflow : ellipsis;
}

article 
{
    display: block;  
}

.fond-gris 
{
    background: #ececec;
}




