@charset "utf-8";

/* Paramètres des page menus */

.header-omf__arrow 
{
    text-decoration: none;
    color: #636363cc;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    left: 20px;
    top: 50%;
}

.underheader-omf 
{
    overflow: hidden;
    height: 320px;
}

.underheader-omf__picture 
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.fond-gris-menu 
{
    position: relative;
    background-color: #ececec;
    border-radius: 45px 45px 0px 0px;
    margin-top: -50px;
    padding-bottom: 10px;
}

.page-restaurant 
{
    margin: 0px 20px;
}

.page-restaurant__title 
{
    font-size: 1.75rem;
    margin: 0;
    padding-top: 20px;
}

.page-menu__title 
{
    margin-bottom: 15px;
}

.page-menu__text 
{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    margin: 20px 0px 8px 0px;
}

.page-menu__line 
{
    background-color: #99E2D0;
    margin: 0;
    height: 3px;
    width: 40px;
}

.page-menu 
{
    display: flex;
    flex-direction: column;
    overflow: hidden; /* les dépassements seront masqués */
}

@media screen and (min-width: 990px)
{
    .page-menu 
    {
    display: flex;
    flex-direction: row;
    }
}

.page-menu__plat 
{
    margin: 15px 0px 5px 15px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 17px;
}

.page-menu__accetprix 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 85%;
    transform-origin: left 50%;
    transition-duration: 0.5s;
}

.page-menu__accompagnement 
{
    /*margin: 0px 0px 0px 15px;*/
    font-weight: normal;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page-menu__prix 
{
    margin: 0;
    font-weight: bold;
    width: 50px;
  
}

/*Animation plat check*/ 

.page-menu__check
{

    position: absolute;
    background-color: #99E2D0;
    width: 75px;
    height: 70px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -35px;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
   
}

.fa-check-circle
{
      
       font-size: 1.5rem;
       color:white;
       opacity: 0;
       cursor: pointer;
      
}

.page-menu__bloc 
{
    margin: 0 15px 15px 0;
    background: white;
    height: 70px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 7px #d3d3d3;
    display: flex;
    align-items: baseline;
    &:hover 
    {
        .page-menu__check
        {
        transition-duration: 2s;
        z-index: 1;
        opacity: 1;
        right:35px;
        }
        
        .fa-check-circle
        {
            transform: rotate(360deg);
            transition-duration: 1s;
            opacity: 1;
        } 

        .page-menu__prix 
        {
         margin-right: 70px;
         transition-duration: 2s;
        }

        
    } 
   
}

/* Responsive des checks */

@media only screen and (max-width: 576px) 
{
    .page-menu__bloc 
    {
        margin: 0 15px 15px 0;
        background: white;
        height: 70px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 7px #d3d3d3;
            &:hover 
            {
                .page-menu__check
                {
                    
                    transform: translateX(569px);
                    transition-duration: 4s;
                    z-index: 1;
                    opacity: 1;
                    right: 35px;
                }
            }
    }
}

@media only screen and (max-width: 768px) 
{
    .page-menu__bloc 
    {
        margin: 0 15px 15px 0;
        background: white;
        height: 70px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 7px #d3d3d3;
            &:hover 
            {
                .page-menu__check
                {
            
                    transform: translateX(564px);
                    transition-duration: 4s;
                    z-index: 1;
                    opacity: 1;
                    right: 35px;
                }
            }
    }
}

@media only screen and (max-width: 992px) 
{
    .page-menu__bloc 
    {
        margin: 0 15px 15px 0;
        background: white;
        height: 70px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 7px #d3d3d3;
            &:hover 
            {
                .page-menu__check
                {
                    
                    transform: translateX(559px);
                    transition-duration: 4s;
                    z-index: 1;
                    opacity: 1;
                    right: 35px;
                }
            }
    }
}

@media only screen and (max-width: 1200px) 
{
    .page-menu__bloc 
    {
        margin: 0 15px 15px 0;
        background: white;
        height: 70px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 7px #d3d3d3;
            &:hover 
            {
                .page-menu__check
                {
                    
                    transform: translateX(554px);
                    transition-duration: 4s;
                    z-index: 1;
                    opacity: 1;
                    right: 35px;
                }
            }
    }
}


@media only screen and (max-width: 969px) 
{
    .page-menu__bloc 
    {
        margin: 0 15px 15px 0;
        background: white;
        height: 70px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 7px #d3d3d3;
            &:hover 
            {
                .page-menu__check
                {
                    
                    transform: translateX(549px);
                    transition-duration: 4s;
                    z-index: 1;
                    opacity: 1;
                    right: 35px;
                }
            }
    }
}


@media only screen and (max-width: 1400px) 
{
    .page-menu__bloc 
    {
        margin: 0 15px 15px 0;
        background: white;
        height: 70px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 7px #d3d3d3;
            &:hover 
            {
                .page-menu__check
                {
                   
                    transform: translateX(0px);
                    transition-duration: 1s;
                    z-index: 1;
                    opacity: 1;
                    right: 35px;
                }
            }
    }
}

/*Responsive coeur*/

@media only screen and (min-width: 290px) and (max-width: 989px) 
{
    .coeur-menu .icon-like
    {
    position: absolute;
    margin-right: 0;
    margin-bottom: 520px;
    
    }
}
/* arrivée des coeurs */ 
.coeur-menu .icon-like .icon-like--full .icon-like--empty
{
    animation-name: coeur;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

@keyframes coeur 
{

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Effets chargement de la page*/

.loading-menu-1
{
    animation-name: boum;
    animation-duration: 3s;
    animation-iteration-count: 1;
    

}

.loading-menu-2
{
    animation-name: boum;
    animation-duration: 4s;
    animation-iteration-count: 1;

}

.loading-menu-3
{
    animation-name: boum;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

@keyframes boum 
{

    0% {
        opacity: 0;
        transform: scaleY(0);
        margin-top: 100px;
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
        margin-top: 0;
    }
}

